body {
    -webkit-font-smoothing: antialised;
}




/* fonts */
@font-face {
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway-semiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}




/* colors */
:root {
    --primary: #EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer: #2D333F;
}


/* container */
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* make responsive */

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

/* utility class */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}





/* header */
header.topbar {
    background: var(--secondary);
    color: var(--pure);
    font-family: "Raleway-semiBold";
    padding: 0.75rem 0;
}

header.topbar .auth>div a {
    color: var(--pure);
    text-decoration: none;
}

header.topbar .container {}

header.topbar .container .auth {}